<div class="home">
  <h1 class="ion-text-center titulo">Bienvenido {{user.nombre}}</h1>
  <h2 class="ion-margin-start">Usuarios:</h2>
  <div *ngFor="let user of users; index as i">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ user.nombre+" "+user.apellido_p+" "+user.apellido_m }}</ion-card-title>
        <ion-card-subtitle>{{ user.correo }}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        
        <h2>Teléfono: {{ user.telefono }}</h2>

        <br/>
        
        <ion-button color="dark" (click)="openModal(i)">Editar</ion-button>
        
        <ion-button color="dark" (click)="eliminar(i)">Eliminar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="registrar">
    <ion-button color="dark"  (click)="openModal(-1)">Registrar</ion-button>
    
    <ion-button color="dark"  (click)="salir()">Salir</ion-button>
  </div>
 </div>